@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$custom-theme-colors: (
  'sealight': #C9E1EB,
  'seadark': #10567C
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);